* {
    --FontColor: #fff; /* Main Font Color */
    --FontColor2: #c0bdbb; /* Secondary Font Color*/
    --FontColor3: #a8a8af; /* Secondary Font Color*/
    --BorderColor: #87f2ef; /* Secondary Font Color*/
    --HighContrast: #212121;
    --Warning: #ffeb3b;
    --Error: #f44336;
}

html {
    height: 100%;
    font-size: 21px;
}

body {
    min-height: 100%;
    color: var(--FontColor2);
    font-size: 1rem;
    font-weight: 400;
    text-rendering: initial;
}

a {
    color: var(--FontColor2);
    text-decoration: underline;
}

a:hover {
    color: var(--FontColor);
    text-decoration: underline;
}

h1 {
    margin: 10px 0 5px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

h3 {
    margin: 10px 0 2.5px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
}

p {
    margin: 2.5px 0;
}

ul {
    margin: 10px 25px;
    list-style-type: circle;
}

ol {
    margin: 10px 25px;
    list-style-type: decimal;
}

.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.blackground {
    background-image: -webkit-gradient(linear, left top, right top, from(#181717), to(#3d3d3d)) !important;
    background-image: -webkit-linear-gradient(left, #181717, #3d3d3d) !important;
    background-image: -o-linear-gradient(left, #181717, #3d3d3d) !important;
    background-image: linear-gradient(to right, #181717, #3d3d3d) !important;
}

header {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
}

.content {
    -ms-flex: 3;
    flex: 3;
    -webkit-box-flex: 3;
}

.content-full {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
}

footer {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
}

.py-3 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.px-3 {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.mt-7 {
    margin-top: 2rem;
}

.py-2r {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.mx-2r {
    margin-right: 2rem;
    margin-left: 2rem;
}

.mt-2r {
    margin-top: 2rem;
}

.ml-2r {
    margin-left: 2rem;
}

.mb-2r {
    margin-bottom: 2rem;
}

.mr-2r {
    margin-right: 2rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.hide {
    display: none;
}

@supports ((display: -ms-grid) or (display: grid)) {
    .container-fluid,
    .item_box {
        display: -ms-grid;
        display: grid;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-rows: auto 1fr auto;
        -ms-grid-columns: 1fr 3fr;
        grid-template:
                'header  header' auto
                'sidebar  content' 1fr
                'footer footer' auto /
			1fr 3fr;
    }

    header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: header;
    }

    .sidebar {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: sidebar;
    }

    .content {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        grid-area: content;
    }

    .content-full,
    .list--content {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        grid-area: content;
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    footer,
    .list--footer {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: footer;
    }
}

