header {
    width: 100%;
    border-bottom: 6px solid var(--BorderColor);
}

footer {
    height: 105px;
    margin-top: 0.4rem;
    border-top: 8px solid var(--BorderColor);
    background: #3b3d40;
    color: var(--FontColor3);
    font-size: 1.4rem;
    text-align: right;
}