<h1>Avatar Generator</h1>
<form>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">
    <div class="image_pre">
        <a href="javascript(void)" onclick="previousBG()">-</a>
        <img>
        <a href="javascript(void)" onclick="nextBG()">-</a>
    </div>
    <input type="submit" value="Submit">
</form>