<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ @SITE.NAME }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link href="/css/spectre/spectre.min.css" rel="stylesheet">
    <link href="/css/spectre/spectre-exp.min.css" rel="stylesheet">
    <link href="/css/framework.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
</head>
<body class="container-fluid blackground">

<header class="navbar">
    <a href="{{ @SITE.HOME }}" class="navbar-brand ml-2r my-10">
        <img src="/images/logo.png" alt="Go back to Home" decoding="async">
    </a>
</header>

<div class="content-full">
    <include href="{{ 'template/'.@content }}" />
</div>

<footer class="text-center">
    <section>
        <div class="copyright">
            <a href="{{ @SITE.IMPRINT }}">Imprint</a>
            <div>&copy; 2018 Sascha "dtSniper" - All rights reserved</div>
        </div>
    </section>
</footer>

</body>
</html>